.main {
  width: 960px;
  margin: 0 auto;
}

.layout {
  min-height: 100vh;
}

.author {
  text-align: right;
}

.title {
  margin-bottom: 20px;
  font-size: 32px;
}

.introSection {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  margin-bottom: 48px;
}

.introTitle {
  font-weight: bold;
  display: inline-block;
  font-size: 48px;
  color: #ff70e2;
}

.introSubTitle {
  display: inline-block;
  margin-top: 72px;
}

.previewForm {
  border: 1px solid #2e6969;
  padding-top: 10px;
  padding-left: 20px;
  margin-bottom: 10px;
  border-radius: 2px;
}

.tag {
  margin-right: 10px;
  padding: 5px;
  border-radius: 10px;
  background-color: #272757;
  color: #eee;
}

.publishedAt {
  margin-bottom: 40px;
}

.post {
  & > h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 40px 0 20px;
    background-color: #eee;
    padding: 10px 20px;
    border-radius: 5px;
  }

  & > h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 40px 0 16px;
    border-bottom: 1px solid #ddd;
  }

  & > ol {
    list-style-type: decimal;
    list-style-position: inside;
  }
}

.footer {
  text-align: right;
}